<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.svg" />

    <link rel="stylesheet" href="/styles/globals.css" type="text/css">
    <link rel="stylesheet" href="/styles/header.css" type="text/css">
    <link rel="stylesheet" href="/styles/post.css" type="text/css">
    <link rel="stylesheet" href="/styles/form.css" type="text/css">
    <link rel="stylesheet" href="/styles/article.css" type="text/css">
    <link rel="stylesheet" href="/styles/buttons.css" type="text/css">
    <link rel="stylesheet" href="/styles/footer.css" type="text/css">
    <title>My tiny blog</title>
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">
        <h1>My lovely tiny blog</h1>
      </a>
      <a class="primary-btn header-btn" href="/addpost">New Post 💖</a>
    </div>