<%- include('./partials/header.ejs') %>
<div class="error404">
  <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExejNxY3JnaDFpNWM2OWtscDQ1dGFxaW5tMDJlbTFzanljMjg2ZXlrZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Bc4oup2pdP5iKFAYiF/giphy.gif" alt="Cute corgi says no">
  <p>This page doesn't exist</p>
  <a href="/">Go back Home</a>
</div>
<%- include('./partials/footer.ejs') %>