.article {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2em 2em .5em 2em;
  overflow: hidden;
  margin: 5vh auto auto;
  width: clamp(15em, 66%, 100em);
  border-radius: 1em 1em 0 0;
  border-top: 1px solid var(--pink-light);
  border-left: 1px solid var(--pink-light);
  border-right: 1px solid var(--pink-light);
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.3);
}

.article_top {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.article_content {
  height: 100%;
  overflow: auto;
}

.article_content>p {
  margin: 1em 0.5em;
}

.article_content>p:first-child {
  margin-top: unset;
}

.article_datestamp {
  font-style: italic;
  font-size: .8rem;
  color: var(--pink-strong);
}